# Environment variables
.env
.env.local

# Dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Logs
*.log
npm-debug.log*